#map {
    height: 80vh;
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
}


/* 
green: #759C57;
red: #C13943;
beige: #FBEEA1;
black: #000000;
brown: #857751;
tuborg: #EBAB47;
*/

:root {
    --green: #44712E;
    --red: #C13943;
    --beige: #FBEEA1;
    --black: #000000;
    --brown: #857751;
    --tuborg: #EBAB47;
}

body {
    background-color: var(--green);
    margin: 0;
}

#header {
    height: 11vh;
}

#logo {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bar {
    font-size: calc(1.2vw + 1.2vh);
}

.bar a {
    color: var(--green);
}

/* #footer {
    background-color: var(--beige);
    text-align: center;
    height: 3vh;
    width: 100vw;
    margin-top: 7vh;
    margin-left: 0;
    margin-right: 0;
} */
